<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>A Tribute to Lauryn</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700" rel="stylesheet">
    <link rel='stylesheet' href='styles/styles.css'/>

  </head>
  <body>
    <div class='container'>
      <div class='row'>
        <div class='col-md-2 panel'>
          <h1>Ms.</h1>
          <h1>Lauryn</h1>
          <h1>Hill</h1>
        </div>
        <div class='col-md-10'>
          <img class='img-responsive' src="https://preview.ibb.co/mdNBS7/lauryn_duo.png" />
        </div>
      </div>
      <div class='row'>
        <div class='col bio'>
          <h3>About</h3>
          <p>Lauryn Noelle Hill (born May 26, 1975) is an American singer, songwriter, rapper, record producer, and actress. 
            She is best known for being a member of the Fugees and for her critically acclaimed solo album The Miseducation of Lauryn Hill, 
            which won numerous awards and broke several sales records.</p>
            <p>Soon after the success of Soon afterward, Hill dropped out of the public eye, dissatisfied with the music industry and suffering with the pressures of fame.
             Her last full-length recording, the new-material live album MTV Unplugged No. 2.0 (2002), 
             sharply divided critics and sold poorly compared to her first album and work with the Fugees.
             Hill's subsequent activity, which includes the release of a few songs and occasional festival appearances, has been sporadic.
             Her behavior has sometimes caused audience dissatisfaction; a reunion with her former group did not last long.</p>
          <h2>The Miseducation</h2>
          <p>The Miseducation of Lauryn Hill (1998) remains Hill's only solo studio album. 
            It received massive criteical acclaim, showcasing a representation of life and relationships and locating a contemporary voice within the neo soul genre. 
            The album debuted at number one on the U.S. Billboard 200 and has sold approximately eight million copies there. 
            It included the singles "Doo Wop (That Thing)" (also a number one), "Ex-Factor" (became her biggest solo hit in UK), and "Everything Is Everything".
            At the 41st Grammy Awards, the record earned her five awards, including Album of the Year and Best New Artist. 
            During this time she won numerous other awards and became a common sight on the cover of magazines.</p>
          </div>   
      </div>
    </div> 
  </body> 
</html>