<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>A Tribute to Lauryn</title>
    <link rel='stylesheet' href='styles/styles.css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
  </head>
  <body>
    <div class='container'>
      <div id='one' class='row'>
        <div class='col'>
          <h1 class='text-center'>Ms. Lauryn Hill</h1>
          <img id='main' src='http://thecatholiccatalogue.com/wp-content/uploads/2016/04/lauryn-hill-588x376.jpg'/>
        </div>
      </div>
      <div class='row'>
        <div id ='two' class='col'>
          <p>Lauryn Noelle Hill (born May 26, 1975) is an American singer, songwriter, rapper, record producer, and actress. 
              She is best known for being a member of the Fugees and for her critically acclaimed solo album The Miseducation of Lauryn Hill, 
              which won numerous awards and broke several sales records.</p>
          <p>The Miseducation of Lauryn Hill (1998) remains Hill's only solo studio album. 
            It received massive critical acclaim, showcasing a representation of life and relationships and locating a contemporary voice within the neo soul genre. 
            The album debuted at number one on the U.S. Billboard 200 and has sold approximately eight million copies there. 
            It included the singles "Doo Wop (That Thing)" (also a number one), "Ex-Factor" (became her biggest solo hit in UK), and "Everything Is Everything".
            At the 41st Grammy Awards, the record earned her five awards, including Album of the Year and Best New Artist. 
            During this time she won numerous other awards and became a common sight on the cover of magazines.</p>
        </div>  
      </div>
    </div>
    
  </body>
    
</html>