.container {
  flex-direction: row;
  font-family: 'Work Sans', sans-serif;
}


.container img {
  width: 100%;
  margin-left: 0;
  margin-bottom: 10px;
}

.panel {
  background-color: #EE964B;
  color: white;
  font-size: 144;
  font-weight: bold;
  margin: 0;
}

.bio {
  background-color: #0C7489;
  color: white;
}



